$font-size-12:0.75rem;
$font-size-13:0.813rem;
$font-size-14:0.875rem;
$font-size-15:0.938rem;
$font-size-17:1.063rem;
$font-size-18:1.125rem;
$font-size-20:1.25rem;
$font-size-22:1.375rem;
$font-size-24:1.5rem;
$font-size-28:1.75rem;
$font-size-26:1.625rem;
$font-size-30:1.875rem;
$font-size-42:2.625rem;
$font-weight-light:300;
$font-weight-ragular:400;
$font-weight-medium:500;
$font-weight-semi:600;
$font-weight-bold:700;
$color-white:#fff;
$color-black:#000;
$line-height-140:140%;
@mixin flex-row {
    display: flex;
    flex-flow: row nowrap; 
}
@mixin flex-col {
    display: flex;
    flex-flow: column nowrap;
}
@mixin flex-center {
    justify-content: center;
    align-items: center;
}
@mixin bgset {
    background-repeat: no-repeat;
    background-size: cover;   /* or contain */
    background-position: center;
}