@use './common.scss' as *;
@use './responsive.scss';

body {
    #wrap {
        #hero, #artist, #media, #filmo, #now, #audi {
            height: 100%;box-sizing: border-box;
        }
        background: #060606;
        header {   
            position: fixed; top:0; z-index: 999;
            padding:15px 30px 10px;width:100%; opacity: 1;
            transition: transform 0.6s ease,background-color 0.4s ease,opacity 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
            transform: translateY(0);
            .header_inner {
                @include flex-row; gap: 50px;
                align-items: center;
                .logo {
                    transition: transform .3s;
                    svg {
                        transform: scale(.8);
                        path {
                            transition: fill .5s ;
                        }
                    }
                }
                .nav {
                    ul{
                        @include flex-row; gap:35px;
                        li {
                            a {
                                color:$color-white;
                                transition:color 0.3s;
                            }
                        }
                    }
                }
            }
            &:hover {
                box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
                background-color: rgba(255, 255, 255, 0.7); backdrop-filter: blur(2px);
                .header_inner {
                    .logo {
                        svg {
                            .tree_bottom{
                                fill:#888
                            }
                            .tree_top{
                                fill:#fff;
                            }
                        }
                    }
                    .nav {
                        ul {
                            li {
                                a {
                                    color:#000
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            width: 100%;
            height: 100vh; /* main의 높이를 뷰포트 높이로 설정 */
            /* 공통 */
            .section_title {
                text-align: center;
                margin:0 auto 30px;
                .title {
                    font-size: $font-size-28;
                    color:$color-white; 
                    margin-bottom: 10px;
                }
                .sub_title {
                    font-size: $font-size-15;
                    color:#999;
                }

            }
            #hero {
                @include bgset;
                background-image: url(../images/main/main_bg.jpg);
                position: relative;
                .hero_inner {
                    .main_t { 
                        position: absolute;
                        bottom: 38%;left:12%;color:$color-white; 
                        .main_t_40 {
                            font-weight: 300;
                            font-size: 40px; margin-bottom: 25px;
                        }
                        .main_t_80 {
                            font-size: 80px; font-weight: 100;
                            font-family: "Bad Script", sans-serif;
                        }

                    }
                    .sub_t {
                        font-size:$font-size-20; color:$color-white;
                        position: absolute;
                        bottom: 3%; right: 3%;
                        font-family: "Noto Serif", sans-serif; font-weight: 200;
                    }
                }
            }
            #artist {
                padding:100px 0 100px 7.8%;
                position:relative;
                height: 100vh;
                overflow: hidden;
                .artist_inner {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .artist_scroller {
                        margin-top: 30px;
                        flex: 1;
                        width: 100%;  
                        display: flex;
                        align-items: center;   // 세로 가운데
                        #artistSwiper {
                            #first_card{
                                transition:opacity 2s ease, transform 2s ease; ;
                                transform: translateY(50px);
                                &.is-visible {
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }
                            .artist_card {
                                flex:0 0 auto;
                                width: 450px;height:675px;
                                transition: opacity 1s ease, transform 1s ease;
                                opacity: 0;
                                transform: translateY(50px);
                                &.is-visible {
                                    opacity: 1;
                                    transform: translateY(0);
                                    }
                                .artist_figure {
                                    max-width:450px;
                                    img {
                                        width: 100%; height: 100%; object-fit:cover;
                                        filter: grayscale(100%);
                                        transition: filter 0.5s ;
                                    }
                                } 
                                &:hover {
                                    .artist_figure {
                                        img {
                                            filter: grayscale(0);
                                        }
                                    }
                                }
                            }
                            .artist_card.artist_more {
                                width:200px;
                                a {
                                    @include flex-col; gap:5px;
                                    align-items: center;
                                    position: absolute;top:50%;
                                    transform: translateY(-50%);
                                }
                                &:hover .plus {
                                    animation: artistMore 0.75s ;
                                }
                                .label {
                                    color:#fff;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    letter-spacing: 0.08em;
                                }

                            }
                        }
                    }
                }
            }
            #media {
                position: relative;height: 100vh;
                .media_scroll {
                    padding:0 7.8%;
                    height: 100%;     // = 100vh
                    overflow-y: scroll;      // 스크롤 동작은 유지
                    scrollbar-width: none;   // Firefox
                    -ms-overflow-style: none; // IE/Edge
                    
                    &::-webkit-scrollbar {   // Chrome/Safari
                        display: none;
                    }
                }
                .brand_1 { 
                    width: 100%;
                    .brand_1_inner {
                        width: 1620px;
                        position: absolute; display: flex;top: 35%;
                        justify-content: space-between; align-items: center;
                        .left_text_en {
                            @include flex-col; gap: 20px;
                            span {
                                font-family: "Noto Serif", sans-serif;
                                font-size: 42px; font-weight: 100; color: $color-white;
                            }
                        }
                        .right_text_ko { 
                            @include flex-col; gap:20px;
                            span {
                                font-family:"Noto Sans KR",sans-serif;color:$color-white;
                                font-weight: 100;font-size: 40px;
                            }
                        }
                    }
                    .text1,.text2,.text3 {
                    opacity: 0;
                    transform: translateY(10px);
                    transition: opacity 0.4s ease, transform 0.4s ease;
                    }
                    .text-show {
                    opacity: 1;
                    transform: translateY(0);
                    }
                    .text-hide {
                    opacity: 0;
                    transform: translateY(10px);
                    }
                }
                .media_inner{
                    height: 80vh;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: opacity 0.5s ease, transform 0.5s ease;
                    .section_title {
                        margin-top :100px;
                    }
                    &.media-visible {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    .contents {
                        @include flex-row; justify-content:space-between; gap: 30px;

                        .category {
                            @include flex-col; justify-content:center ; gap:15px;text-align: center;
                            li {
                                button {
                                    background: none;
                                    border: none;color: #444;font-size: 17px;
                                    letter-spacing: 0.08em; cursor: pointer; 
                                    transition: color 0.4s ease;
                                }
                            }

                            &::after,&::before {
                                content: ''; display: block; width: 125px;height: 1px;
                                background-color: #333;
                            }
                        }
                         .category li.depth-0 button { color: #ffffff !important; } // 활성
                        .category li.depth-1 button { color: #888; }
                        .category li.depth-2 button { color: #666; }
                        .category li.depth-3 button { color: #444; }

                        /* 안전빵: 3칸 넘어가는 건 전부 제일 어두운 톤 */
                        .category li:not(.depth-0):not(.depth-1):not(.depth-2):not(.depth-3) button {
                            color: #444;
                        }
                        .category li button:hover {
                            color:#ccc
                        }
                    .media_contents {
                        .interview {
                            @include flex-row; justify-content: center; gap: 30px;

                            .interview_card {
                                overflow: hidden;
                                position: relative;
                                width: 450px; height: 650px;
                                a {
                                    img {
                                        width: 100%; height: 100%; object-fit: cover;
                                    }
                                }
                                .interview_text {
                                    position: absolute; bottom: 40px;left:30px;font-weight:400;color:#fff;
                                    font-size: 18px; z-index: 2;
                                    em {font-size: 27px;font-weight: 500;}
                                }
                                &:nth-child(1){
                                    a img {transform: translate(5%, 45%) scale(2);}
                                }
                                &:nth-child(2){
                                    a img {transform: translate(-5%, 25%) scale(1.5);}
                                }
                                &:nth-child(3){
                                }
                                &::before {
                                content: '';position: absolute;
                                left: 0;right: 0;bottom: 0;height: 40%; 
                                background: linear-gradient(
                                    to top,
                                    rgba(0, 0, 0, 0.8),
                                    rgba(0, 0, 0, 0)
                                );
                                z-index: 1;pointer-events: none;
                            }
                            }
                        }
                        .news {}
                        .scense {}
                        .photo {}
                        > div {
                            opacity: 0;
                            transition: opacity 0.3s;
                            pointer-events: none;     
                        }
                        > div.is-active {
                            opacity: 1;
                            pointer-events: auto;
                        }
                        }
                    }
                }
            }
            .brand_2 {
                padding: 100px 7.8%;
                .brand_2_inner {
                    .main {
                        margin-bottom:30px;
                        @include flex-col; @include flex-center; gap: 10px;
                        h2 {
                            color:$color-white;font-family: "Noto Serif",sans-serif;
                            font-size: 38px; font-weight:200;
                        }
                    }
                    .sub {
                        .sub_text {
                            text-align: center;font-weight: 200;line-height: $line-height-140;
                            color:$color-white;font-size: $font-size-18;
                        }
                    }
                }
            }
            #filmo {
                padding:100px 7.8%;
                .filmo_inner {
                    .contents {
                        .view {}
                        .posters {display: none;}
                    }
                }
            }
            #now {
                padding: 100px 0;
                .now_inner {
                    margin:0 auto;
                    width: 100%;
                    .contents {
                        padding:100px 0;
                        position:relative;
                        #now_swiper {
                            width: 100%;
                            max-width: 100%;
                            margin:0 auto;overflow: visible; 
                            .swiper-wrapper {
                                align-items: center;
                                .swiper-slide {
                                    max-width: 280px; height:400px;
                                    transition: transform 0.4s, opacity 0.4s,filter 0.4s;
                                    opacity: 0.9; 
                                    transform: scale(1);
                                    filter: grayscale(100%);
                                    a {
                                        display: block;
                                        img {
                                            width: 100%; height: 100%;object-fit: cover;
                                        }
                                    }
                                }
                                .swiper-slide.swiper-slide-active {
                                    opacity: 1;
                                    transform: scale(1.4); z-index: 90;
                                    filter: grayscale(0);
                                }
                            }
                        }
                        .swiper-button-next,.swiper-button-prev {
                            position: absolute; bottom: 0; right: 0;
                        }
                    }
                }
            }
            #audi {}
        }
        footer {}
    }
}
@keyframes artistMore {
    0% {
        transform: translateY(0)
    }
    50% {
        transform : translateY(-10px)
    }
    100% {
        transform: translateY(0)
    }
}
